@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$backgroundColor: #800000;
$green: #006600;
$fontColor: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
footer {
  background-color: $backgroundColor;
}
.footerContainer a:hover {
  text-decoration: none !important;
}
.footerContainer {
  padding: 1.5rem 0;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .left {
    flex-basis: 40%;
    width: 40%;
  }

  .contact {
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .social {
    padding: 1rem;
  }
  .red {
    color: $fontColor;
    a {
      color: $fontColor;
    }
  }
  .green {
    color: $fontColor;
  }

  .flinks {
    flex-basis: 60%;
    width: 60%;
    padding: 1rem;
  }

  .heading {
    font-size: 1.6rem;
    width: fit-content;
    font-weight: 300;
    color: $fontColor;
    position: relative;
  }
  .heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: $fontColor;
    height: 2px;
    width: 0;
    transition: all 0.3s ease;
  }
  .flinks:hover .heading::after,
  .contact:hover .heading::after,
  .social:hover .heading::after {
    width: 100%;
    left: 0;
  }
  .contactInfo {
    padding: 1rem 0;
  }
  .contactInfo div,
  .contactInfo div a {
    color: $fontColor;
    word-break: break-all;
  }
  .contactInfo > div {
    margin-bottom: 1rem;
  }
  .icon {
    margin-right: 1rem;
    color: $fontColor;
  }

  .mediaLinks {
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: space-evenly;
  }
  .mediaLinks div a {
    color: $fontColor;
  }
  .footerLinks {
    display: flex;
    flex-wrap: wrap;
  }
  .footerLinks > * {
    flex-basis: 50%;
    width: 50%;
  }
  .footerLinkHeading {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}
.footerlinkcontainer {
  padding: 1rem;
}
.copyrightMsg {
  padding: 0.5rem;
  background-color: #006600;
}
.copyrightMsg p {
  text-align: center;
  margin-bottom: 0;
  color: $fontColor;
  letter-spacing: 1px;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    flex-wrap: wrap;
  }
  .footerContainer .left {
    flex-basis: 100%;
    width: 100%;
    display: flex;
  }
  .footerContainer .contact,
  .footerContainer .social {
    flex-basis: 50%;
    width: 50%;
  }
  .footerContainer .contact {
    padding-left: 0;
  }
  .footerContainer .social {
    padding-right: 0;
  }
  .footerContainer .flinks {
    flex-basis: 100%;
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .footerContainer {
    flex-wrap: wrap;
  }
  .footerContainer .left {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .footerContainer .contact,
  .footerContainer .social {
    flex-basis: 100%;
    width: 100%;
  }
  .footerContainer .contact {
    padding-left: 1rem;
  }
  .footerContainer .social {
    padding-right: 1rem;
  }
  .footerContainer .flinks {
    padding: 1rem;
  }
  .footerContainer .footerlinkcontainer {
    padding: 1rem 0;
    flex-basis: 100%;
    width: 100%;
  }
}
